/* CSS file for Tea Cozy*/
body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

main, footer {
  position: relative;
  top: 69px;
}

/* Header */
header {
  display: flex;
  position: fixed;
  border-bottom: 1px solid seashell;
  width: 100%;
  height: 69px;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  background-color: black;
  top: 0px;
}

.logo img {
  margin-left: 10px;
  height: 50px;
}

nav {
  text-decoration: underline;
  display: flex;
  justify-content: space-around;
}

nav span {
  padding: 0px 15px;
}

nav a {
  color: seashell;
}

/* end Header */

/* main */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* mission */
.mission {
  height: 700px;
  width: 1200px;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  background-image: url("./images/img-mission-background.jpg");
}

.mission_statement {
  background-color: black;
}
/* end mission */

/* tea */
.tea {
  width: 1000px;
}

.tea_selections {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.advertisement img {
  width: 300px;
  height: 200px;
}

.advertisement {
  padding: 0px 5px;
}
/* end tea */

/* location */
.location {
  height: 500px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("./images/img-locations-background.jpg");
}

.location h2 {
  margin: 0;
}

.location_info {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 15px;
  align-content: space-around;
  overflow: scroll;
}

.location_block {
  background-color: black;
  margin: 0px 20px;
  width: 300px;
  opacity: 1;
}
/* end location */

/* end Main */

/* Footer */
.bottom {
  height: 200px;
}

.copyright {
  text-align: left;
  margin-left: 20px;
  font-size: 18px;
}

/* end Footer */
/* end of CSS */
